
<div class=" fcontainerorm-plan">
    <form{{ attributes }}>
    <div class="row">
        <div class="col-sm-8">
        {{ element.messages }}
       </div>
   </div>

    <div class="row">
      <div class="col " >
         {{ element }}
       </div>
    </div>

  </div>
  </div>
<div>

    {{ form.form.timezone }}
    {{ form.form_build_id }}
    {{ form.form_id }}
    {{ form.form.form_token }}
    {{ form.form.actions }}
</div>
</div>
</form>
</div>
